body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    align-items: center;
}

#container {
    display: flex;
    background: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    height: 100% ;
}

.sidebar {
    width: 100%;
    background: #252525;
    color: #e0e0e0;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    border-bottom: 2px solid #66ff66;
    padding-bottom: 5px;
    color: #66ff66;
}

.sidebar a {
    color: #1e90ff;
    text-decoration: none;
}

.sidebar ul {
    padding: 0;
}

.content {
    width: 100% ;
    padding: 30px;
    background: #252525;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #66ff66;
    border-bottom: 2px solid #66ff66;
    padding-bottom: 5px;
}

ul li {
    margin: 10px;
    padding: 10px;
    background: #333;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration:underline ;
}

@media (max-width: 992px) {
    body {
        background-color: #fc0000;
            }
    .container {
        flex-direction: column;
        padding: 15px;
    }
    .sidebar, .content {
        width: 100%;
        padding: 15px;
    }
  
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
        background-color: #1e90ff;
    }
    h2 {
        font-size: 20px;
    }
    .sidebar, .content {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
        background-color: #5c5858;
    }
    h2 {
        font-size: 18px;
    }
    .container {
        padding: 10px;
    }
    .sidebar, .content {
        width: 100%;
        padding: 15px;
    }
}
